*{
    margin: 0;
    padding: 0;
}

.inter {
  font-family: "Inter", sans-serif;
}
.container{
    width: 85%;
    margin: 0 auto;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-container .Nav-List ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    margin:34px 0 ;
}

.nav-container .Nav-List ul li{
    margin-left: 32px;
    color:#000;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.nav-container .Nav-List ul li:hover{
color:#f82d2d}
.nav-btn button{
padding: 12px 16px ;
background: #469165;
border: 1px solid #469165;  
border-radius: 4px;
font-size: 16px;
font-weight: 600;
color:#fff;
transition:.5s;
}
.nav-btn button:hover{
color:black;
background:none;
color:#000;
cursor: pointer;
border:1px solid green;
text-decoration: none;
}
.hero-section i{
   font-size: 16px;
   color:#469165;
}
header{
    background-image:
    url(../assets/hero-bg.png);
    
}
.hero-section{
    padding-top: 123px;
    text-align: center;
}
.hero-section .icon{
    color:#469165;
     padding: 8px 8px 12px;
     background-color: #fff;
     margin-bottom: 16px;
     border-radius: 8px;
}
.hero-section h2{
    font-size: 84px;
    color:#fff;
    margin-top: 20px;
}
.hero-section h2 span{
    color:#30B868;
    display: block;
}
.hero-section p{
    color:#fff;
    font-size: 18px;
    margin-top: 16px;
    line-height:30px;
}
.hero-button{
    padding: 12px 16px;
    background: #469165;
    color:#fff;
    font-size: 18px;
    border: 1px solid #469165;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 20px;
}
.hero-button i{
    color:#fff;
    font-size: 18px;
    
}
.hero-button:hover{
    background: none;
    border:1px solid #469165
}
.hero-button-play{
    background: none;
    color:white;
    font-size: 18px;
    padding:12px 16px;
    margin-left: 16px;
    border:2px solid white;
    border-radius: 8px;
    transition: .5s;
    margin-bottom: 139px;
}
.hero-button-play i {
  color:white;
  font-size: 18px;
}
.hero-button-play:hover{
    background: #469165; 
    border:2px solid #469165;
}
.box-heading{
    text-align: center;
    margin-top: 100px;
}
.box-heading h2{
    font-size: 48px;
    font-weight: 700;
};
.box-heading p{
    font-size:20px;
    margin-top: 10px;
    color:#627382;
}
.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box .boxs{
    width: 300px;
    text-align: center;
    align-items: center;
    margin-top: 44px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    margin-bottom: 30px;
}
.box .boxs img{
    margin-top: 44px;
    background:#F95555;
    padding: 10px;
    border-radius: 50%;

}
.box .boxs h2{
    font-size: 24px;
    color:black;
    margin: 16px 0 ;
}
.box .boxs p{
    font-size: 16px;
    line-height: 20px;
    color:#627382;
    padding-bottom: 20px;
}
.solution-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.solution-section .side-img{
    width: 600px;
    height: 600px;
    border-radius: 12px;
    margin-top: 120px;
}
.img-sidever span{
    color:#469165;
    font-size: 16px;
    margin-bottom: 16px;
}
.img-sidever h2{
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 16px;
}
.img-sidever p{
    font-size: 16px;
    color:#627382;
    line-height: 25px;
    margin-bottom: 16px;
    
}
.click div{
    font-size: 16px;
    color:#001931;
    margin: 8px 0 ;
}
.chalange-container{
    background: #FBFBFB;
    text-align: center;
    margin-top: 120px;
}
.chalange-container h2{
    font-size: 40px;
    color:#001931;
    padding-top: 80px;
    margin-bottom: 16px;
}
.chalange-container p{
    font-size: 16px;
    color:#627382;
    padding-bottom:16px;
}
.chalange-container .hero-button{
 margin-bottom:16px ;
 margin-top: 26px;
}
.chalange-container .hero-button:hover{
    color:black;
}
.chalange-container h3{
    color:#627382;
    font-size: 16px;
    padding-bottom: 80px;
}
footer{
background:#001931;
margin-top: 120px;
}
.footer-container{
    display: flex;
justify-content: space-between;
padding-top: 120px;
}
.footer-container h2{
    color:white;
    font-size: 20px;
}
.footer-container i{
    color:white;
    font-size: 20px;
    margin-top: 16px;
    
}
hr{
    width: 85%;
    margin: 0 auto;
    margin-top: 84px;
    margin-bottom: 32px;
}
footer p{
    color:#FAFAFA;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}